<section class="cart">
  @if (cocktails().length === 0) {
    <p class="cart-empty">Aucun cocktail like.</p>
  } @else {
    <ul class="cart-list">
      @for (cocktail of cocktails(); track cocktail.id) {
        <li class="cart-item" (click)="onSelect(cocktail)">
          <div class="cart-item__main">
            @if (cocktail.imageUrl || cocktail.image) {
              <img
                class="cart-item__image"
                [src]="cocktail.imageUrl || cocktail.image"
                [alt]="cocktail.name"
              />
            }
            <span class="cart-item__name">{{ cocktail.name }}</span>
          </div>
          <app-round-button
            class="cart-item__unlike"
            [iconOnly]="true"
            (click)="$event.stopPropagation()"
            (clicked)="onUnlike(cocktail)"
          >
            <app-icon name="heart-solid-full" [size]="25" ariaLabel="Retirer des likes" />
          </app-round-button>
        </li>
      }
    </ul>
  }
</section>
